<style>
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 1000px;
    background-color: rgb(197, 192, 192);
    color: rgb(10, 1, 1);
    text-align: left;
    border-radius: 6px;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
</style>